%div.notfound
	%h2 FRAK!
	%p Something went terribly wrong... my apologies.
	%p
		Try some luck in the
		%a{:href => "/", :title => "Jordi Romero's blog" } home page
	%p
		If you think you know the cause of this mess, please
		%a{:href => "/contact", :title => "Contact Jordi Romero" } report it to me
