.feed
  %a{ :href => "http://feeds.feedburner.com/JROM", :title => "Subscribe to this blog", :rel => "nofollow" }
    %span Subscribe to the feed
    %img{ :src => "/feed-icon.png", :alt => "Subscribe to this blog" }
