%div.notfound
  %h2 FRAK!
  %p It looks like you didn't found what you were looking for...
  %p
    Try some luck in the
    %a{:href => "/", :title => "Jordi Romero's blog" } home page
  %p
    If you think you just found a broken link, please
    %a{:href => "/contact", :title => "Contact Jordi Romero" } report it to me
