title: "Blog title"
description: "Set this to something that describes your home page"
# keywords: "enter 3 or 4, comma separated, keywords"

author:
  name: Author Name
  uri: http://author-web.com
  # email: author@author-web.com

development:
  cache: false
  content: content

production:
  cache: true
  content: /var/www/content
  # google_analytics_code: "UA-???????-?"
